{{!-- Favorite --}}
<div class="item shadow" href="{{dataValues.album.dataValues.extension_url}}">
    <div class="album-art">
        <a href="/albums/{{dataValues.album.dataValues.album_id}}" class="flex-center"><img src="/img/album.svg" alt="Album Art"></a>
    </div>
    <a href="{{dataValues.album.dataValues.extension_url}}"><div class="item-details">
        <p class="item-title">{{dataValues.album.dataValues.title}}</p>
        <p class="item-artist">{{dataValues.album.dataValues.artist}}</p>
        <p class="item-genre">{{dataValues.album.dataValues.genre}}</p>
    </div></a>
    <div class="favorite">
        <img src="/img/heart.svg" class="favorite-button" data-id="{{dataValues.album_id}}">
    </div>
</div>