{{!-- Album Page --}}
<main id="album">
    <img src="/img/album.svg">
    <h1>{{album.dataValues.title}}</h1>
    <a href="{{album.dataValues.url}}">Listen</a>
    <a><img src="/img/heart.svg"></a>
    <h2>{{album.dataValues.artist}}</h2>
    <p>{{album.dataValues.genre}}</p>
    <p>{{album.dataValues.year}}</p>
    <p>{{album.dataValues.description}}</p>
</main>